/*General styles*/
body, html{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial, sans-serif;
}

a{
 text-decoration: none;
 color:inherit;
}

ul{
 list-style:none;
 padding:0;
 margin:0;
}

/*Navbar*/
#navbar{
 background-color: #a62639;
 color:#fff;
 position:fixed;
 top:0;
 width:100%;
 z-index:1000;
 padding:10px 0;
}

#navabr .container{
 max-width:1200px;
 margin:0 auto;
 display: flex;
 justify-content: flex-end;
}

#navbar ul{
 display: flex;
 gap:20px;
}

#navbar a{
 color:#fff;
 font-weight:bold;
 text-transform: uppercase;
}

#hero{
 height:100vh;
 display: flex;
 align-items:center;
 justify-content:center;
 background:linear-gradient(135deg, #333, #222);
 color:#fff;
 text-align:center;
}

#hero .hero-content h1{
 font-size:3 rem;
 margin:0;
}

#hero .hero-content .subtitle{
 font-size:1.5rem;
 color:#a62639;
}

/*the projects*/
#wowrk {
 background-color:  #42526E;
 color:#fff;
 text-align:center;
 padding:50px 20px;
}

#work h2 {
 font-size:2rem;
 margin-bottom:30px;
 border-bottom:2px solid #fff;
 display: inline-block;
}

.projects-container {
 display: flex;
 flex-wrap:wrap;
 gap:20px;
 justify-content: center;
}

.projects-card {
 background-color: #fff;
 color: #333;
 width:300px;
 border-radius: 8px;
 overflow:hidden;
 text-align: center;
 transition: transform 0.3s;
}

.project-card img {
 width: 100%;
 height: auto;
}

.project-card p {
 margin: 10px 0;
 font-size: 1.2rem;
 font-weight: bold;
}


.project-card:hover {
 transform: scale(1.05);
}

.show-all {
 background-color: #a62639;
 color: #fff;
 padding: 10px 20px;
 margin-top: 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-weight: bold;
 text-transform: uppercase;
}

/*Contact Part*/
#contact {
 background-color: #222;
 color: #fff;
 padding: 50px 20px;
 text-align: center;
}

#contact h2{
 font-size: 2rem;
 margin-bottom: 10px;
}

#contact .social-icons {
 margin: 20px 0;
 display: flex;
 justify-content: center;
 gap: 20px;
}

#contact .social-icons a {
 background-color: #333;
 padding: 10px 20px;
 border-radius: 5px;
 color: #fff;
 font-size: 1rem;
 transition: background-color 0.3s;
}

#contact .social-icons a:hover {
 background-color: #a62639;
}

.disclaimer {
 font-size: 0.8rem;
 color: #bbb;
 margin-top: 30px;
}