/*General styles*/
body, html{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial, sans-serif;
}

a{
 text-decoration: none;
 color:inherit;
}

ul{
 list-style:none;
 padding:0;
 margin:0;
}

/*Navbar*/
#navbar{
 background-color: #a62639;
 color:#fff;
 position:fixed;
 top:0;
 width:100%;
 z-index:1000;
 padding:10px 0;
}

#navabr .container{
 max-width:1200px;
 margin:0 auto;
 display: flex;
 justify-content: flex-end;
}

#navbar ul{
 display: flex;
 gap:20px;
}

#navbar a{
 color:#fff;
 font-weight:bold;
 text-transform: uppercase;
}

#hero{
 height:100vh;
 display: flex;
 align-items:center;
 justify-content:center;
 background:linear-gradient(135deg, #333, #222);
 color:#fff;
 text-align:center;
}

#hero .hero-content h1{
 font-size:3 rem;
 margin:0;
}

#hero .hero-content .subtitle{
 font-size:1.5rem;
 color:#a62639;
}